<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs'); %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <%- include('./partials/sidebar.ejs'); %>
</body>
</html>